<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      ライフスタイル専門のスキルマーケット！
    </h2>
    <p class='service-explain'>
      SHARELIFEは家事などのライフスタイルに特化したスキルの
    </p>
    <p class='service-explain'>
      フリマアプリです！
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# カテゴリー一覧 %>
  <div class='item-contents'>
    <h2 class="subtitle" >カテゴリから探す</h2>
    <ul class='category-lists'>
      <% @categories.each do |category| %>
        <li class='list'>
          <%= link_to select_category_index_service_path(category.id) do %>
            <%= category.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /カテゴリー一覧 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class="subtitle" >新着サービス</h2>
    <ul class='item-lists'>
      <% @services.each do |service| %>
        <% unless service.order.present? %>
          <li class='list'>
            <%= link_to service_path(service.id) do %>
              <div class='item-img-content'>
                <%= image_tag service.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= service.name %>
                </h3>
                <div class='item-price'>
                  <span>
                    <%= service.user.nickname %>
                  </span>
                  <div class='item-price'>
                    <span><%= service.price.to_s( :delimited) %>円</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <%# 商品がない場合のダミー %>
      <% if @services.length == 0 %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              サービスを出品してください！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
  <%# /商品一覧 %>

  <%# ユーザー一覧 %>
  <div class='item-contents'>
    <h2 class="subtitle" >おすすめユーザー</h2>
    <ul class='category-lists'>
      <% @users.each do |user| %>
        <li class='list'>
          <%= link_to "/users/#{user.id}" do %>
            <%= user.nickname %><br>
            <%= user.category.name %><br>
            出品サービス<%= user.services.length %>件<br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /ユーザー一覧 %>

<%= link_to(new_service_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>