<%= render "shared/header" %>
<div class='select-category-contents'>
  <h2 class='subtitle'>検索結果</h2><br>
  <ul class='item-category-lists'>
    <%# 検索結果の個数で条件分岐 %>
    <% if @services.length != 0 %>
      <% @services.each do |service| %>
        <% unless service.order.present? %>
          <li class='list'>
            <%= link_to service_path(service.id) do %>
              <div class='item-img-content'>
                <%= image_tag service.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= service.name %>
                </h3>
                <div class='item-price'>
                  <span>
                    <%= service.user.nickname %><br>
                    <%= render partial: 'services/services',locals: {service: service} %>
                  </span>
                  <div class='item-price'>
                    <span><%= service.price.to_s( :delimited) %>円</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <p>該当するサービスはありません。</p>
    <% end %>
  </ul>
</div>