<%= render "shared/header" %>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿サービス', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @services.each do |service| %>
        <li class='list'>
          <%= link_to service_path(service.id) do %>
            <div class='item-img-content'>
              <%= image_tag service.image, class: "item-img" %>
                <% if service.order.present? %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= service.name %>
              </h3>
              <div class='item-price'>
                <span>
                  <%= service.price %>円<br>
                  <%= service.category.name %><br>
                  <%= service.transportation.name %>
                </span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <%# 商品がない場合のダミー %>
      <% if @services.length == 0 %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
  <%# /商品一覧 %>