<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <div class="main-show">
      <h2 class="name">
        <%= @service.name %>
      </h2>
      <div class='item-img-content'>
        <%= image_tag @service.image ,class:"item-box-img" %>
          <% if @service.order.present? %>
            <div class='sold-out'>
              <span>SOLD OUT</span>
            </div>
          <% end %>
      </div>
      <div class="item-explain-box">
        <span><%= @service.description %></span>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @service.category.name %></td>
          </tr>
          <tr>
            <th class="detail-item">交通費の負担</th>
            <td class="detail-value"><%= @service.transportation.name %></td>
          </tr>
          <tr>
            <th class="detail-item">出品者の居住地域</th>
            <td class="detail-value"><%= @service.prefecture.name %></td>
          </tr>
          <tr>
            <th class="detail-item">所要時間の目安</th>
            <td class="detail-value"><%= @service.duration.name %></td>
          </tr>
        </tbody>
      </table>
      <div class="option">
        <%= render partial: 'services/services',locals: {service: @service} %>
      </div>
    </div>
    <div class="side-show">
      <div class="side-show-header">
        <div class="item-price-box">
          <span class="item-price">
            ¥ <%= @service.price.to_s( :delimited) %>
          </span>
        </div>
        <% if user_signed_in? %>
          <% if current_user.id == @service.user_id %>
            <% unless @service.order.present? %>
              <%= link_to '編集', edit_service_path(@service.id), method: :get, class: "item-red-btn" %>
              <p class='or-text'>or</p>
              <%= link_to '削除', service_path(@service.id), method: :delete, data: { confirm: '本当に削除して良いですか？'}, class:'item-destroy' %>
            <% end %>
          <% else %>
            <% unless @service.order.present? %>
              <%= link_to '購入画面に進む', service_orders_path(@service), method: :get ,class:"item-red-btn"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="side-show-main">
        <h2 class="heading">
          出品者プロフィール
        </h2>
        <div class='side-user-info'>
          <%= link_to "/users/#{@service.user.id}" do %>
            <div class='side-img-content'>
              <% if @service.user.image.attached? %>
                <%= image_tag @service.user.image ,class:"side-box-img" %>
              <% else %>
                <%= image_tag "human-dummy.png" ,class:"side-box-img" %>
              <% end %>
            </div>
            <%= @service.user.nickname %>
          <% end %>
        </div>
        <p>
          <% if @orders.length >= 3 %>
            <%= image_tag "gold-96.png", class:"logo-img" %>
            ゴールド
          <% elsif @orders.length >= 2 %>
            <%= image_tag "silver-96.png", class:"logo-img" %>
            シルバー
          <% elsif @orders.length >= 1 %>
            <%= image_tag "bronze-96.png", class:"logo-img" %>
            ブロンズ
          <% else %>
            レギュラー
          <% end %>
        </p>
        <p>得意：<%= @user.category.name %></p>
        <p>販売実績：<%= @orders.length %>件</p>
      </div>
    </div>
  </div>
</div>
  <%# /商品の概要 %>

<!-- 口コミ入力フォーム -->
<%= form_for [@service, @post] do |f| %>

  <!--エラーメッセージ-->
  <%#= render 'layouts/error_messages', model: f.object %>

  <!--商品コードの送信-->
  <%= f.hidden_field :service_id, { value: @service.id} %>

  <!-- タイトル -->
  <div class="form-group-show">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- 評価 -->
  <div class="form-group-show" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'service[rate]',
    half: true,
  });
  </script>  

  <!-- 口コミ -->
  <div class="form-group-show">
    <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8",
        placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。
まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>

  <!-- 確認ボタン -->
  <div class="form-group-show justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>
<!-- /口コミ入力フォーム -->

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="row posts">
      <div class="col-md-2 posts-user">
        <%= link_to "/users/#{post.user.id}" do %>
        <%= image_tag post.user.image ,width: '100px' %>
        <% end %>
        <p class="posts-title"><%= link_to post.user.nickname, "/users/#{post.user.id}" %></p>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <p><%= simple_time(post.created_at) %></p>
          <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>

          <!--星評価-->
        <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>  
        <!--/星評価-->
          <p><%= post.content %></p>
        </div>
      </div>
      <%# <div class="col-md-12 edit-button">
        <% if current_user == post.user %>
          <%# <%= link_to '口コミを編集', edit_post_path(post), method: :get, class:'btn btn-default' %>
          <%# <%= link_to '口コミを削除', post, method: :delete, class:'btn btn-default' %>
        <%# <% end %>
      <%# </div> %>
    </div>
  <% end %>
<% end %>