<div class="like-link" id="like-link-<%= service.id %>">
  <% if user_signed_in? %>
    <% if current_user.likes.find_by(service_id: service.id) %>
      <%= link_to unlike_path(service.id), method: :delete, remote: true do %>
        <div class = "iine__button">❤️<%= service.likes.count %></div>
      <% end %>
    <% else %>
      <%= link_to like_path(service.id), method: :post, remote: true do %>
        <div class = "iine__button">♡️<%= service.likes.count %></div>
      <% end %>
    <% end %>
  <% else %>
    <div class = "iine__button">❤️<%= service.likes.count %></div>
  <% end %>
</div>