<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="heading-wrapper">
        <div class='user-img-content'>
          <%= image_tag @user.image ,class:"user-box-img" %>
        </div>
        <h2 class="page-heading">
          <%= "#{@user.nickname}さんのプロフィール"%>
        </h2>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">ランク</th>
            <td class="table__col2">
              <% if @orders.length >= 3 %>
                <%= image_tag "gold-96.png", class:"logo-img" %>
                ゴールド
              <% elsif @orders.length >= 2 %>
                <%= image_tag "silver-96.png", class:"logo-img" %>
                シルバー
              <% elsif @orders.length >= 1 %>
                <%= image_tag "bronze-96.png", class:"logo-img" %>
                ブロンズ
              <% else %>
                レギュラー
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table__col1">得意カテゴリ</th>
            <td class="table__col2"><%= @user.category.name %></td>
          </tr>
          <tr>
            <th class="table__col1">販売実績</th>
            <td class="table__col2"><%= @orders.length %>件</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="service-edit">
  <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
      <%= link_to '編集', edit_user_registration_path, method: :get, class: "service-edit-btn" %>
    <% end %>
  <% end %>
</div>

<div class='item-contents'>
  <h2 class='title'>出品サービス（<%= @services.length %>件）</h2>
  <ul class='item-user-lists'>
    <% @services.each do |service| %>
      <li class='list'>
        <%= link_to service_path(service.id) do %>
          <div class='item-img-content'>
            <%= image_tag service.image, class: "item-img" %>
              <% if service.order.present? %>
                <div class='sold-out'>
                  <span>SOLD OUT</span>
                </div>
              <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= service.name %>
            </h3>
            <div class='item-price'>
              <span>
                <%= service.user.nickname %><br>
                <%= render partial: 'services/services',locals: {service: service} %>
              </span>
              <div class='item-price'>
                <span><%= service.price.to_s( :delimited) %>円</span>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
