<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのプロフィール"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">ランク</th>
            <td class="table__col2">
              <% if @orders.length >= 3 %>
                <%= image_tag "gold-96.png", class:"logo-img" %>
                ゴールド
              <% elsif @orders.length >= 2 %>
                <%= image_tag "silver-96.png", class:"logo-img" %>
                シルバー
              <% elsif @orders.length >= 1 %>
                <%= image_tag "bronze-96.png", class:"logo-img" %>
                ブロンズ
              <% else %>
                ノーマル
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table__col1">得意カテゴリ</th>
            <td class="table__col2"><%= @user.category.name %></td>
          </tr>
          <tr>
            <th class="table__col1">販売実績</th>
            <td class="table__col2"><%= @orders.length %>件</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class='item-contents'>
    <h2 class='title'>出品サービス（<%= @services.length %>件）</h2>
    <ul class='item-lists'>
      <% @services.each do |service| %>
        <li class='list'>
          <%= link_to service_path(service.id) do %>
            <div class='item-img-content'>
              <%= image_tag service.image, class: "item-img" %>
                <% if service.order.present? %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= service.name %>
              </h3>
              <div class='item-price'>
                <span>
                  <%= service.price.to_s( :delimited) %>円<br>
                  <%= service.category.name %><br>
                  <%= service.transportation.name %><br>
                  <%= service.user.nickname %>
                </span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <%# 商品がない場合のダミー %>
      <% if @services.length == 0 %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
