<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to("/", class: 'icon') do %>
      <%= image_tag "chawan.png", class:"sharelife-icon" %>
      <h1 class='icon-name'> SHARELIFE</h1>
    <% end %>
    <%= form_with(url: search_services_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: 'キーワードから探す', class:'input-box' %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '出品者を探す', '#', class: "user-nickname" %>
        <ul class="dropdwn_menu">
          <li><%= link_to 'A1', '#' %></li>
          <li><%= link_to 'A2', '#' %></li>
        </ul>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <span><li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li></span>
        <p class='tooltip'>マイページ</p>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ゲストログイン（閲覧用）', services_guest_sign_in_path, method: :post, class: "guest-login" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>